@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  background: #051a16;
  /* background: white; */
  font-family: Poppins;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}
